.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid black;
    height: 150px;
    width: 450px;
    margin: 5px 0;
}

.todo-item__checkbox {
    max-width: 5%;
}

.todo-item__checkbox input {
    height: 30px;
    width: 30px;
    border: none;
    background: red;
    outline: none;
}

.todo-item__text {
    width: 50%;
}

.todo-item__text input {
    font-size: 3rem;
    width: 100%;
    padding: 5px;
    background: none;
}

.todo-item__actions {
    max-width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.todo-item__actions input {
    width: 100%;
}

.todo-item__actions button {
    padding: 3px 8px;
}
